.form-inline .btn {
    font-size: 1.5rem;
    margin: auto 1rem auto 1rem;
}

.container {
    max-width: 100%;
}

.col-sm-10 .nav {
    margin-bottom: 1rem;
}

.tab-content {
    width: 100%;
}

.fade {
    width: 100%;
}

.btn-toolbar .btn {
    margin: auto 0.5rem 1rem 0.5rem;
}