.card-body {
    padding: 0.5rem;
}

.card-title {
    margin-top: 0.5rem;
    text-align: center;
}

.card-img-container {
    overflow: hidden;
    max-height: 15rem;
    align-content: end;
}

.card-img-top {
    min-width: 100%;
}